Scenario,TCP Throughput (Mbps),UDP Throughput (Mbps),Jitter (ms),Packet Loss (%),Ping Avg (ms)
{% for line in report_lines %}
{{ line[0] }},{{ line[1] }},{{ line[2] }},{{ line[3] }},{{ line[4] }},{{ line[5] }}
{% endfor %}
